<%= form_for @user, :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div class="well">
      <b><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</b>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="text-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="dl-horizontal">
    <dt><%= f.label :fullname %></dt>
    <dd><%= f.text_field :fullname %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt><%= f.label :username %></dt>
    <dd><%= f.text_field :username, :disabled => !@user.username.blank? %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dt><%= f.label :email %></dt>
    <dd><%= f.email_field :email %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt><%= f.label :password %></dt>
    <dd><%= f.password_field :password %></dd>
  </dl>

  <% if @user.is_native_account? %>

  <% if @user.errors.has_key?(:password_confirmation) %>
  <dl class="dl-horizontal control-group error">
  <% else %>
  <dl class="dl-horizontal">
  <% end %>
    <dt><%= f.label :password_confirmation %></dt>
      <dd>
      <% if @user.errors.has_key?(:password_confirmation) %>
        <%= f.password_field :password_confirmation, :id => 'inputError' %>
        <div class="help-inline"><%= @user.errors.get(:password_confirmation) %></div>
      <% else %>
        <%= f.password_field :password_confirmation %>
      <% end %>
      </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt><%= f.label :avatar %></dt>
    <dd>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      <%= image_tag(@user.avatar.thumb.url, :class => 'img-polaroid') if @user.avatar? %>
    </dd>
  </dl>
  <% else %>
    <dt><%= f.label :avatar %></dt>
    <dd>
      <%= image_tag(@user.gplus_avatar_thumb_url, :class => 'img-polaroid') %>
    </dd>
    <%= f.hidden_field :gplus_id, :value => @user.gplus_id %>
    <%= f.hidden_field :gplus_display_name, :value => @user.gplus_display_name %>
    <%= f.hidden_field :gplus_profile_url, :value => @user.gplus_profile_url %>
    <%= f.hidden_field :gplus_avatar_url, :value => @user.gplus_avatar_url %>
  <% end %>
  <div class="actions">
    <%= f.submit ((action_name == 'edit') ? 'Update User' : 'Create User'), :class => 'btn btn-primary pull-right' %>
    <%= link_to 'Cancel', root_path, :class => 'btn' %>
  </div>
<% end %>
