<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="dl-horizontal">
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>
  </dl>
   <dl class="dl-horizontal">
    <dt><%= f.label :color %></dt>
    <dd>
      <div class="input-append color" data-color="#<%= @tag.color %>" data-color-format="hex" id="tag_colorpicker">
        <%= f.text_field :color, :class => "span2", :readonly => true %>
        <span class="add-on"><i style="background-color: rgb(ccff00))"></i></span>
      </div>
    </dd>
  </dl>
  <div class="actions">
    <%= f.submit 'Create Tag', :class => 'btn btn-primary pull-right' %>
    <%= link_to 'Back', profile_path(), :class => 'btn' %>
  </div>
<% end %>
