<%= form_for([@user, @log]) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="dl-horizontal">
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>
  </dl>
   <dl class="dl-horizontal">
    <dt><%= f.label :description %></dt>
    <dd><%= f.text_area :description, :rows => "3", :class => 'input-block-level' %></dd>
  </dl>
  <div class="actions">
    <%= f.submit 'Create Log', :class => 'btn btn-primary pull-right' %>
    <%= link_to 'Back', profile_path(), :class => 'btn' %>
  </div>
<% end %>
