<%= div_for log do %>
  <tr>
    <td><%= link_to log.name, log_path(log.user, log) %></td>
    <td><%= log.description %></td>
    <td>
      <%= link_to log_path(log.user, log),
                  :rel => 'tooltip',
                  :title => 'Share log' do %>
        <i class="icon-share"></i>
      <% end %>
      <% if log.user == current_user %>
        <%= link_to edit_log_path(log.user, log),
                    :rel => 'tooltip',
                    :title => 'Edit log' do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to log_path(log.user, log),
                    :confirm => 'Are you sure you want to delete this log?',
                    :method => :delete,
                    :rel => 'tooltip',
                    :title => 'Delete log' do %>
          <i class="icon-remove"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
