<% provide(:title, "Log - #{@log.name}") %>

<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li><%= image_tag(@user.avatar.badge.url, :class => 'img-polaroid') %> <%= @user.fullname %>
      <span class="divider">/</span></li>
    <li class="active"><%= @log.name %></li>
  </ul>
<% end %>

<div class="row">
  <div class="well span7" id="entry_input_form">
    <%= form_tag log_entries_path(@log.user, @log) do %>
      <%= text_area_tag 'entry[body]', nil, :rows => 3, :class => 'input-block-level' %>
      <%= submit_tag "Submit", :class => "btn btn-primary" %>
    <% end %>
  </div>

  <div class="span7">
    <%= paginate @entries %>
    <table class="table table-hover">
    <%= render @entries %>
    </table>
  </div><!-- /.span7 -->
</div><!-- /.row -->
