<% provide(:title, "Log - #{@log.name}") %>

<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li id="entry_input_form_toggle"><a href="#" rel="tooltip" title="Toggle new entry"><i class="icon-edit"></i></a></li>
    <li><%= link_to '/' do %><%= render 'shared/breadcrumb_user_info' %><% end %>
    <span class="divider">/</span></li>
    <% if params[:name].blank? %>
      <li class="active"><%= @log.name %></li>
    <% else %>
      <li class="active"><%= link_to log_path(@log.user,@log) do %><%= @log.name %><% end %></li>
      <span class="divider">/</span></li>
      <li class="active"><%= params[:name] %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="well span7" id="entry_input_form">
    <%= form_tag log_entries_path(@log.user, @log) do %>
      <%= text_area_tag 'entry[body]', nil, :rows => 3, :class => 'input-block-level' %>
      <%= select_tag "entry[tag_list]", options_for_select(@log.user.tags.collect {|t| [t.name, t.name]}),
                     :id => 'entry_tags', :multiple => true %>
      <%= submit_tag "Submit", :class => "btn btn-primary pull-right" %>
    <% end %>
  </div>

  <div class="span7">
    <%= paginate @resource_entries %>
    <table class="table" style="margin: 0px">
      <% @entry_groups.each { |key, value|
          @entries = value
      %>
      <tr>
        <td class="span1">
          <div class="log_time_month"><%= key.to_s(:log_time_mn) %></div>
          <div class="log_time_day"><%= key.to_s(:log_time_dy) %></div>
          <div class="log_time_year"><%= key.to_s(:log_time_yr) %></div>
        </td>
        <td class="span6">
          <table class="span6 log_entry_group">
            <%= render @entries %>
          </table>
        </td>
      </tr>
      <% } %>
    </table>
  </div><!-- /.span7 -->
</div><!-- /.row -->
